* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background-image: url("./graduation-students-background-vector-4399173.webp");
}

h1 {
  padding: 1rem;
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 238, 238);
}

.student-list-top {
  height: 2.5rem;
  padding: 1rem 2rem;
  margin: 1rem 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
  background-color: rgb(192, 193, 193);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
}

.student-count {
  border-radius: 5px;
  align-items: center;
  margin: 1rem 4rem;
  background-color: rgb(192, 193, 193);
}

.p1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 3rem;
  font-size: 1.5rem;
}
